/build
/.vs
/ebrt.VC.db
/ebrt.VC.VC.opendb
/Debug
/tools/qmpack/build/.vs
/src/web/node_modules
/src/web/wasm
/src/windows/.vs
/src/web/bindings/bindings.js
/src/web/bindings/parser.out
/src/web/bindings/WebIDLGrammar.pkl
/src/web/bindings/bindings.cpp
/src/windows/run_around_game.VC.db
/src/windows/run_around_game.VC.VC.opendb
/src/windows/quickmake.VC.db
/src/windows/quickmake.VC.VC.opendb
tags
